{{input value=title placeholder='title'}}
{{input value=description placeholder='description'}}
{{input value=image placeholder='image'}}
<button {{action (action add title description image)}}>Add Movie</button>
